body 

{
   margin: auto;
    font-family: Arial;
     background-color: rgb(184, 222, 235);   
       text-align: center
       
}

h1{
  font-size: 100px;
    text-align: center;
    text-shadow: 2px 2px 5px red;
}
div {
    margin:auto;
    max-width: 500px;
    border: 11px solid green;
    padding: 40px;
    background-color: rgb(81, 196, 100);
    
  } 

