

div
{
  
   margin:auto;
    font-family: Arial;

    text-align: center;
    transition: all .2s ease-in-out;
    
          

 
    
    
       
       
       
      

}
div:hover {
    transform: scale(1.1);

}



p{
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: left






}
li{



  text-align: left;
}

h3{
  
  font-size: 30px;
 
  





}
b{
font-family: monospace;



}




h1{ 
  border-radius: 10px;
  font-size: 100px;
    text-align: center;
    text-shadow: 4px 3px 3px rgba(107, 33, 167, 0.418);
  display: inline ;
  margin: left 10;


 

  
  padding: 1px;
  background-color : rgb(114, 180, 255)
  ;
  
} 
h2{
text-align: center;

transition: all .2s ease-in-out;




}


h2:hover {
  transform: scale(1.1);
}

body{
  background-color:rgb(255, 241, 197);
}








